<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wsafeguard"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.wsafeguard.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.wsafeguard.Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.example.wsafeguard.MedicalActivity"
            android:label="@string/title_activity_medical" >
        </activity>
        <activity
            android:name="com.example.wsafeguard.GeneralInfoActivity"
            android:label="@string/title_activity_general_info" >
        </activity>
        <activity
            android:name="com.example.wsafeguard.AddContactActivity"
            android:label="@string/title_activity_add_contact" >
        </activity>
        <activity
            android:name="com.example.wsafeguard.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name="com.example.wsafeguard.ModeActivity"
            android:label="@string/title_activity_mode" >
        </activity>
        <activity
            android:name="com.example.wsafeguard.PhotoIntentActivity"
            android:label="@string/title_activity_photo_intent" >
        </activity>
    </application>

</manifest>